html,
body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    text-decoration: none;
}

.red {
    color: rgb(227, 94, 107);
}

.v-middle {
    vertical-align: middle;
}